<div class="flex items-center justify-center h-screen p-4 md:p-12 shadow-lg text-xl font-mono text-light-gray 
            bg-gradient-to-b from-lemon-green via-dark-blue to-dark-blue">
    <div class=" flex flex-col items-center justify-center text-center text-gray-900">
        <div class="mt-12 text-2xl md:text-6xl text-center mb-2 font-bold">
            Hello, We are ByteJet
        </div>
        <div class="max-w-4xl mt-4">
            <div class="text-sm md:text-lg p-2">
                We're dedicated developers crafting mobile and web apps for success. With a focus on results, we tailor
                optimized solutions to your needs. Trust ByteJet for professional software services driving your
                business forward.
            </div>
            <div class="mt-4">
                <button class="bg-lemon-blue text-white p-2 px-8 md:px-12 rounded-md text-xl md:text-2xl font-bold">
                    <a href="/#projects" (click)="scrollToComponent('projects')">
                        Projects
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>