<div class="px-4 md:px-16 font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="py-32 flex-col items-center justify-center p-4">
        <p class="text-2xl md:text-4xl font-sans text-center mb-4 text-gray-900 font-bold">
            Top Projects
        </p>
        <p class="mt-4 w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
        <div class="p-4 px-0 md:px-32 mt-4 text-center">
            <div class="text-sm md:text-lg p-2">
                We specialize in leading a wide range of projects, including landing pages, YouTube clone apps, blogs,
                fitness apps, e-commerce platforms, school management systems, console applications, and desktop
                applications. Our portfolio showcases our versatility and dedication to providing top-notch solutions
                customized to meet our clients' unique needs.
            </div>
            <div class="mt-4">
                <div class="flex justify-center p-2">
                    <img src="../../assets/p1.png" class="object-cover mx-auto w-64">
                </div>
            </div>
        </div>
    </div>
</div>