<app-landing id="home"></app-landing>
<app-about id="about"></app-about>
<!-- <app-contact id="contact"></app-contact> -->
<div id="projects">
    <!-- <app-projects></app-projects>
    <app-berliz id="berliz"></app-berliz>
    <app-mariam id="mariam"></app-mariam>
    <app-youtube id="youtube"></app-youtube>
    <app-voting id="voting"></app-voting> -->
</div>
<!-- <app-services id="services"></app-services>
<app-testimonial id="testimonials"></app-testimonial>
<app-scroll-to-top id="scrollToTop"></app-scroll-to-top> -->