<div class="flex justify-end items-center mx-4">
    <ul class="p-4 flex items-center font-mono hidden md:flex">
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-green">
        <a href="https://www.instagram.com/tasela_berliz/">
          <i-feather name="instagram" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-green"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-green">
        <a href="https://www.linkedin.com/in/blessed-tasela-b9071920a/">
          <i-feather name="linkedIn" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-green"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-green">
        <a href="https://www.facebook.com/tasela.berlizyo/">
          <i-feather name="facebook" class="  p-2 cursor-pointer hover:scale-105 hover:text-lemon-green"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-green">
        <a href="https://github.com/blessedtasela">
          <i-feather name="github" class="p-2 cursor-pointer hover:scale-105 hover:text-lemon-green"
            style="width: 40px;"></i-feather>
        </a>
      </li>
      <li class="cursor-pointer hover:scale-105 hover:text-lemon-green text-sm mt-1">
        <span class="flex items-center justify-center border-2 border-lemon-green rounded-md p-1">
          <a href="mailto:Mariamisiaka96@gmail.com" class="-mt-2">
            <span>Get in touch</span>
            <i-feather name="arrow-right" class="p-3 cursor-pointer hover:scale-105 hover:text-lemon-green"
              style="width: 40px;">
            </i-feather>
          </a>
        </span>
      </li>
    </ul>
  </div>