<div class="px-4 md:px-16 font-mono text-gray-900 bg-gradient-to-b from-dark-gray via-light-gray to-dark-gray">
    <div class="py-32 flex-col items-center justify-center p-4">
        <p class="text-2xl md:text-4xl font-sans text-center mb-4 text-gray-900 font-bold">
            KepsBeauty
        </p>
        <p class="mt-4 w-12 mx-auto border-2 p-1 bg-lemon-blue rounded-lg border-lemon-blue"></p>
        <div class="flex items-center justify-center mt-4 font-mono">
            <div class="grid grid-cols md:grid-cols-2 items-center">
                <div class="p-4 md:p-12">
                    <img src="../../assets/joel_ecom-1.png" class="object-fit rounded-md">
                </div>
                <div class="text-sm md:text-md p-2 text-justify">
                    <div class="text-gray-700 text-center p-4 md:p-8 text-2xl md:4xl font-bold">
                        Elevating Beauty: The KepsBeauty Platfo
                    </div>
                    <p class="p-2 mt-4">
                        KepsBeauty embodies our commitment to web development, serving as an innovative e-commerce
                        platform dedicated to providing beauty enthusiasts with top-quality products. With a focus on
                        enhancing the beauty shopping experience, KepsBeauty connects customers with a curated selection
                        of beauty products, fostering a vibrant beauty community. Developed using modern technologies,
                        including Angular and Spring Boot, KepsBeauty offers a seamless user interface and robust
                        functionality, ensuring an exceptional shopping journey. Continuously evolving with new
                        features and updates, KepsBeauty sets the standard for online beauty shopping, elevating the
                        industry with its transformative approach.
                    </p>
                    <div class="flex justify-center p-2">
                        <button
                            class="p-2 py-2 border-2 border-lemon-green bg-lemon-blue text-white font-sans rounded-md cursor-pointer">
                            <a [routerLink]="['/ecom']">
                                Overview
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>